[Desktop Entry]
Comment=
Encoding=UTF-8
Exec=compton --backend glx --paint-on-overlay --glx-no-stencil --vsync opengl-swc --unredir-if-possible --config /home/zoey/.config/compton/compton.conf
Hidden=false
Name=compton
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Type=Application
Version=0.9.4

